{% extends 'layout.html' %}

{% block title %}
    Error 
{% endblock %}

{% block css %}
    .errorBox 
    {
        position: relative;
        top: 70px;
        left: 120px;
        border-style: solid;
        border-radius: 25px;
        min-height: 300px;
        width: 250px;
    }
    .butt2
    {
        position: relative;
        top: -300px;
    }
    .butt2 button
    {   
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 30px;
    }
{% endblock %}

{% block body %}
    <div>
        <h2 style='text-align: center; font-family:Courier New, Courier, monospace;'>
            {{ error_message }}
        </h2>
    </div>

    <div class='errorBox'>
        <h1 style='text-align: center; font-family:Courier New, Courier, monospace; margin-top: 50%;'>
            ERROR!
        </h1>
    </div>

    <form action='/error' method='post' class='butt2'>
        <button>Try again</button>
    </form>
{% endblock %}